
{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
		
	<h1>Welcome to book review</h1>
		
	<div class="container">
  <h2>Registration:</h2>
  <!-- <form action="/action_page.php">  -->
  <form action="{{ url_for('userinfo') }} method="post">
    <div class="form-group">
      <label for="email">email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>

    <div class="form-group">
      <label for="pwd">password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>

    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
     
    	<button> Submit </button>
     <!-- <button type="submit" class="btn btn-default">Submit</button> -->
	
	<a href="{{ url_for('index') }}"> books info </a>
  </form>
</div>
{% endblock %}
